[Unit]
Description=Backup semanal con backup.sh

[Service]
Type=oneshot
User=guille
Group=guille
ExecStart=/home/guille/repos/ASO_MDC/scripts/05_automation/systemd/backup.sh \ /home/guille/.config

